@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300&family=Questrial&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

body {
  background-color: darken($color: #3c4245, $amount: 8);
  margin: auto;
  max-width: 1200px;
}

.header__wrapper {
  position: relative;
  min-height: 10vh;
  display: flex;
  justify-content: start;
  align-items: center;
  & > ul {
    display: flex;
    & > li {
      padding: 10px 20px 10px 0px;
      list-style: none;

      & > a {
        text-decoration: none;
        font-size: 22px;
        font-weight: 100;
        letter-spacing: 4px;
        transition: 300ms all ease-in-out;
        color: darken($color: #f7f7f7, $amount: 30);

        &:hover {
          transition: 150ms all ease-in-out;
          color: #f7f7f7;
        }
      }
    }
  }

  &__collapse {
    position: absolute;
    right: 0;
    &__usefull {
      height: 50%;
      display: flex;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;

      color: darken($color: #f7f7f7, $amount: 30);

      & > button {
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 100;
        font-size: 18px;
        background-color: transparent;
        transition: 300ms ease-in-out all;
        letter-spacing: 4px;
        padding: 10px 10px 10px 0;
        color: darken($color: #f7f7f7, $amount: 30);
      }

      & > i {
        transform: rotate(-90deg);
        transition: all 300ms ease-in-out;
      }
    }

    &__menu {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      @media screen and (max-width:560px) {

        display: none;

        
      }

      & > li {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 10px;
        background: #dbd8e3;
        border-radius: 5px;
        margin: 0.1rem 0;

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.1}s;
            animation: move_out 0.3s #{$i * 0.15}s forwards;

          }
        }

      }

      &__show {
        opacity: 1;

        & > li {
          list-style: none;
          display: flex;
          justify-content: center;
          padding: 10px;
          background: #dbd8e3;
          border-radius: 5px;
          margin: 0.1rem 0;
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              animation-delay: #{$i * 0.1}s;
              animation: move_in 0.3s #{$i * 0.15}s both;

            }
          }
        }
      }
    }
  }
}

@keyframes move_in {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes move_out {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}
// @for $i from 1 to 5 {
//   .header__wrapper__collapse__menu li:nth-child(#{$i}) {
//     background: hsl($i * 10, 50%, 50%);
//     opacity: 1;
//     transition: all ease-in-out ($i *0.25s);
//   }
// }
// @for $i from 1 to 5 {
//   .header__wrapper__collapse__menu__show li:nth-child(#{$i}) {
//     opacity: hsl($i * 10, 50%, 50%);
//     animation-delay: $i * 0.25s;
//   }
// }

.main__wrapper {
  min-height: 100vh;
  margin-top: 2rem;

  &__info {
    display: flex;

    @media screen and (max-width:560px) {

      flex-direction: column;
      align-items: center;

   
      
    }

    &__image {
      height: 100%;
      width: 40%;

      @media screen and (max-width:560px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
  
     
        
      }

      &__container {
        width: 80%;
        height: 80%;
        overflow: hidden;
        border-radius: 5px;

        & > img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          filter: grayscale(100%);
        }
      }
    }
    &__basic {

      @media screen and (max-width:560px) {
        width: 90%;

        &__container{
          margin-bottom: 2rem;
          margin-top: 1rem;
          & > h2 {
            text-align: center;
            letter-spacing: 6px;
          }
        }

  
      }

      width: 70%;
      font-family: "Oxanium", cursive;
      font-family: "Questrial", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

   

      &__container {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__tech__skills {
          margin-top: 2rem;
          width: 60%;
        }
        & > h2 {
          color: #fff;
          letter-spacing: 3px;
          font-size: 45px;
          font-weight: 100;
        }

        &__tech__skills {
          & > h4 {
            color: darken($color: #fff, $amount: 25);
            font-weight: 100;
            font-size: 20px;
            margin-bottom: 1rem;
          }

          @media screen and (max-width:560px) {
            width: 100%;

            & > h4{
              padding-left: 1rem;
            }


            
          }
        }

        &__tech__additional {
          margin-top: 2rem;
          width: 60%;
          & > h4 {
            color: darken($color: #fff, $amount: 25);
            font-weight: 100;
            font-size: 20px;
            margin-bottom: 1rem;
          }

          @media screen and (max-width:560px) {
            width: 100%;
            & > h4{
              padding-left: 1rem;
            }


            
          }
        }
      }
    }
  }
}

// .swiper {
//   width: 100%;
//   height: 100%;
//   padding: 2rem 0;
// }

.swiper-slide {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  display: flex;
  color: #fff;
  width: 60%;
  justify-content: center;
  align-items: center;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
      margin-left: 0.5rem;
    }
  }
}

.swiper {
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 12px;
  --swiper-navigation-opacity: 0;
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-inactive-color: black;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-horizontal-gap: 4px;

  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-virtual-size: 80px;
}
.swiper-2 {
  --swiper-theme-color: #007aff;

  --swiper-navigation-size: 8px;
  --swiper-navigation-opacity: 0;
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-inactive-color: black;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-horizontal-gap: 4px;

  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-virtual-size: 80px;
}
